//Variables de colores

$darkblue: #2b3945;
//(Dark Mode Elements)
$darkbluelighter: #3c5c78;
//Dark Mode Elements Hover
$very-dark-blue: #202c37;
//-(Dark Mode Background)
$white: #ffffff;
//-(Dark Mode Text & Light Mode Elements)
$white2: #e2dddd;
$very-dark-blue-text: #111517;
//-(Light Mode Text)
$dark-gray: #858585;
//-(Light Mode Input)
$very-light-gray: #f4f0f0;
//-(Light Mode Background)

@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html[data-theme="light"] {
  --background-color: #{$very-light-gray};
  --text-color: #{$very-dark-blue-text};
  --background-element: #{$white};
  --background-element-hover: #{$white2};
}
html[data-theme="dark"] {
  --background-color: #{$very-dark-blue};
  --text-color: #{$white};
  --background-element: #{$darkblue};
  --background-element-hover: #{$darkbluelighter};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--background-element);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;
  h3 {
    padding: 5px;
  }
  .lightmode {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--background-element-hover);
    }
  }
}

body {
  background-color: var(--background-color);
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  .filters {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    flex-wrap: wrap;
    .filter > *{
      padding: 10px;
     }
    .containerInputs {
      background-color: var(--background-element);
      border-radius: 4px;
      display: flex;
      input {
        border: none;
        outline: none;
        background-color: var(--background-element);
        font-family: inherit;
        font-size: 14px;
        position: relative;
        color: var(--text-color);
        padding-right: 10px;
        &::placeholder {
          color: var(--text-color);
          font-size: 14px;
        }
      }
      .focusColor{
        background-color: var(--background-element-hover);
      }
      i {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--text-color);
        margin: 0 10px;
      }
    }
    .focusColor{
      background-color: var(--background-element-hover);
    }
    .containerDropdown {
      color: var(--text-color);
      position: relative;
      cursor: pointer;

      .containerText {
        display: flex;
        background-color: var(--background-element);
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 3px;
        &:hover {
          background-color: var(--background-element-hover);
        }
        i{
          display: flex;
        align-items: center;
        justify-content: center;
        }
      }
      ul.dropdown {
        background-color: var(--background-element);
        border-radius: 4px;
        padding: 10px;
        display: none;
        position: absolute;
        width: 100%;

        &.show {
          display: block;
          padding: 0;
        }

        li {
          list-style-type: none;
          font-family: inherit;
          padding: 10px;
          &:hover {
            background-color: var(--background-element-hover);
          }
        }
      }
    }
  }
}

.cardsContainer {
  display: grid;
  //grid-template-columns: repeat(4, 20%);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 30px;
  padding: 0 50px;
  margin: 0 auto;
  /* display: flex;
    justify-content: space-between; */

  .card {
    background-color: var(--background-element);
    color: var(--text-color);
    flex-wrap: wrap;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 50%;
      border-radius: 4px 4px 0 0;
    }
    h4 {
      padding: 10px 30px;
    }
    p {
      padding: 1px 30px;
      font-weight: 600;
      span{
        font-weight: 300;
      }
    }
  }
}
